.widget {
    padding: 2rem 3rem;
}

.widget form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
}

.title {
    margin: 0;
    font-size: 1.8em;
}

.error {
    color: var(--default-red);
    font-size: .875rem;
}
